@page
@model CarBiding.Pages.CarsModel
@{
}

<h1>Aktualne Aukcje</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"  
                   asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    Szukaj
                </button>
            </span>
            
        </div>
    </div>

</form>

<table class="table">
    @foreach(var car in Model.Cars)
    {
        <tr>
            <td>@car.Title</td>
            <td>@car.ImageMini</td>
            <td>@car.TimeAuctionEnd</td>
            <td>@car.ID</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail" asp-route-carID="@car.ID">
                   
                    Detale
                </a>
            </td>
        </tr>
    }
</table>


